// General Styles
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Dosis", sans-serif;
	line-height: 1.6;
	background: #fff;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	text-transform: uppercase;
	color: red;
}

p {
	color: white;
	width: 53vw;
	padding-left: 2rem;
	background-color: rgba(220, 220, 220, 0.2);
	margin-left: 2rem;
	padding: 1rem;
}

nav#menu {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	position: absolute;
	top: -20px;
	background-color: white;
	a {
		padding: 1rem 1.5rem 0.5rem 1.5rem;
		color: black;
	}
}

img {
	width: 100%;
}

body {
	background-color: grey;
}

#menu {
	position: fixed;
	z-index: 99;
}

.about-me {
	// to replace id with class
}

#section1 {
	h2.section-title {
		display: block;
		text-align: center;
		font-size: 2rem;
		color: black;
	}
	p {
		text-align: center;
		margin: auto;
		padding: 0;
		color: black;
		background-color: inherit;
	}
	.projects {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		.project {
			width: 45vw;
			display: grid;
			padding: 1rem;
			margin: 1rem;
			border: 1px solid black;
			grid-template-columns: repeat(2, 1fr);
			h2 {
				margin-bottom: 0 !important;
			}
			.project-image {
				width: 25vw;
			}
			.project-text {
				p.project-description,
				h2.project-gitlink {
					font-size: 0.75rem;
					color: white;
				}
				p.project-description {
					text-align: left;
				}
			}
		}
	}
}

#section2 {
	p {
		color: white;
		background-color: rgba(000, 000, 000, 0.6);
		width: 40vw;
	}
	ul.study {
		background-color: rgba(000, 000, 000, 0.6);
		text-align: center;
		color: turquoise;
		text-transform: uppercase;
		margin-right: 30vw;
		margin-left: 43.5vw;
		font-size: 1rem;
		font-weight: 400;
	}
}
#section0,
#section2,
.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
}

#section2 {
	background-image: url("https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w500&q=60");
}

#section3 {
	p.lead {
		text-align: center;
		margin: auto;
		font-family: fantasy;
		color: black;
		font-size: 1.3rem;
		font-weight: 600;
		background-color: inherit;
	}
	.contact-info {
		display: flex;
		justify-content: space-between;
		padding: 2rem 0;
		.info {
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 {
				color: turquoise;
			}
			p {
				margin: auto;
				text-align: center;
				background-color: inherit;
			}
		}
	}
	#footer {
		background: turquoise;
		padding: 0.5rem;
		position: absolute;
		bottom: 0;
		width: 100%;
		.footer-content {
			display: flex;
			justify-content: space-between;
			padding-right: 2rem;
			.social {
				display: flex;
				justify-content: space-around;
				width: 13vw;
				padding-top: 1.2rem;
			}
		}
	}
}
