#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 13vw;
    padding-top: 2rem;
    color: #9faee6;

}
span#name{
color: #9faee6;
}
}